<div class="container-fluid">
  <table class="table table-hover table-bordered shadow-lg">
    <tr class="bg-primary text-white">
      <th>Name</th>
      <th>Gender</th>
      <th>Salary</th>
    </tr>
    <tr>
      <td>{{employeeDetObj.name}}</td>
      <td>{{employeeDetObj.gender}}</td>
      <td>{{employeeDetObj.salary}}</td>
    </tr>
  </table>
  <button class="btn btn-secondary my-4" (click)="backStudentList()">
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</button>
</div>
